<%- include modulesTools/headerLoader %>
<%- include modulesTools/header %>
<div class="wrapper main-content registerMain">
    <div class="registerBox">
        <form class="formBox" method="post" action="/in/confirmPassword">
            <input name="userAccount" type="hidden" value="<%= content.userAccount %>"/>
            <input name="userEmail" type="hidden" value="<%= content.userEmail %>"/>
            <div class="box_content">
                <div class="signup-email">
                    <div class="form-group">
                        <input name="userPassword" type="password" placeholder="密码（字母、数字，至少6位）" onblur="verify.PasswordLenght(this)">
                        <span class="error-notic">密码长度不够</span>
                    </div>
                    <div class="form-group">
                        <input name="confirmPassword" type="password" placeholder="确认密码" onblur="verify.PasswordLenght(this)">
                        <span class="error-notic">密码不一致</span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="buttontTan">确认</button>
                    </div>
                    <p class="view-clause">
                        <span class="colorRed">
                             <% if (locals.success && locals.success.length) { %>
                            <%= locals.success %>
                             <% } %>
                            <% if (locals.error && locals.error.length) { %>
                            <%= locals.error %>
                             <% } %>
                     </span>
                    </p>
                </div>
            </div>
        </form>
    </div>
    <div class="imgBox">
        <div class="imgContent"></div>
        <a id="back_home" class="backHome" href="/"></a>
    </div>
</div>

<script type="text/javascript" src="/js/module/registerUser.js"></script>
<%- include modulesTools/footerLoader %>