<%- include modulesTools/headerLoader %>
<%- include modulesTools/header %>
<div class="wrapper main-content registerMain">
  <div class="forget_password registerBox">
      <form class="formBox" method="post" action="/in/forgetPasswordFn">
        <div class="box_content">
          <div class="signup-email">
            <div class="form-group">
              <input name="userAccountForget" type="text" placeholder="您的注册账号">
            </div>
            <div class="form-group">
              <input name="userEmilForget" class="signup-form" type="text" placeholder="您的注册邮箱" onblur="verify.verifyEmail(this)">
              <span class="error-notic">邮箱格式不正确</span>
            </div>
            <div class="form-group">
              <button type="submit" class="buttontTan">提交</button>
            </div>
            <p class="view-clause">
            <span class="colorRed">
              <% if (locals.success && locals.success.length) { %>
              <%= locals.success %>
              <% } %>
              <% if (locals.error && locals.error.length) { %>
              <%= locals.error %>
              <% } %>
            </span>
            </p>
          </div>
        </div>
      </form>
  </div>
</div>
<script type="text/javascript" src="/js/module/forgetPassword.js"></script>
<script type="text/javascript" src="/js/module/registerUser.js"></script>
<%- include modulesTools/footerLoader %>