<%- include ../modulesTools/headerLoader %>
<%- include ../modulesTools/header %>
<link rel="stylesheet" href="../lib/quill.snow.css">
<script type="text/javascript" src="../lib/quill.js"></script>
<script>
  Date.prototype.format = function ( fmt ) {
    var week = [ 'Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', '星期日', '星期一', '星期二',
      '星期三', '星期四', '星期五', '星期六' ];
    var o    = {
      "M+" : this.getMonth () + 1, //月份
      "d+" : this.getDate (), //日
      "h+" : this.getHours (), //小时
      "m+" : this.getMinutes (), //分
      "s+" : this.getSeconds (), //秒
      "q+" : Math.floor ( (this.getMonth () + 3) / 3 ), //季度
      "S"  : this.getMilliseconds (), //毫秒
      "DD" : week[ this.getDay () + 7 ]
    };
    if ( /(y+)/.test ( fmt ) ) fmt = fmt.replace ( RegExp.$1, (this.getFullYear () + "").substr ( 4 - RegExp.$1.length ) );
    for ( var k in o )
      if ( new RegExp ( "(" + k + ")" ).test ( fmt ) ) fmt = fmt.replace ( RegExp.$1, (RegExp.$1.length == 1) ? (o[ k ]) : (("00" + o[ k ]).substr ( (k == "DD") ? 2 : ("" + o[ k ]).length )) );
    return fmt;
  };
</script>
<div class="wrapper main-content" style="padding-top: 30px;background-color: #fff;">
  <div class="container-fluid ">
    <div class="prose-tree col-md-12" id="edit_space">
      <% _data.forEach(  function( _data_box ){
        var ql_editor_index = 1; %>
      <table class="table">
        <caption><%= _data_box.name %></caption>
        <tbody>
        <% _data_box.children.forEach(  function( _data_box_group ){ %>
        <tr>
          <th>
            <table class="table dateContent">
              <caption><%= _data_box_group.name %></caption>
              <tbody class="table dateContent" style="width: 1500px;overflow-x: auto;
    display: inline-block;">
              <% _data_box_group.children.forEach(  function( _data_box_user, index_user ){ %>
              <% if(index_user === 0){ %>
              <tr style="width: 2300px;
    display: inline-block;">
                <td class="td_date_box" style="width:100%;display: inline-block;padding:0;">
                  <table class="table">
                    <thead>
                    <tr>
                      <th style="width: 100px;height: 50px;display: inline-block;background: #a7323b;">
                        日期
                      </th>
                      <% poDataList.forEach(  function( poDataList_data ){ %>
                      <th style="width: 300px;height: 50px;display: inline-block;"><%= poDataList_data %></th>
                      <% }); %>
                    </tr>
                    </thead>
                  </table>
                </td>
              </tr>
              <% } %>
              <tr style="width: 2300px;display: inline-block;">
                <td class="td_date_user_box"
                    style="width: 100px;height: 150px;display: inline-block;background: #7EA7A1;">
                  <%= _data_box_user.uname %>
                </td>

                <% poDataList.forEach(  function( poDataList_data ){
                  var poDataList_data_sign = false;
                  var nowTimeFormat        = ( new Date ()).format ( 'yyyy-MM-dd' );
                if(_data_box_user.children != ''){
                  _data_box_user.children.forEach(  function( _data_box_datenote, index_data ){
                if(poDataList_data === (new Date ( Number ( _data_box_datenote.ndate ) ).format ( 'yyyy-MM-dd' ))){
                  poDataList_data_sign       = true;
                  var thisDatenoteTimeFormat = (new Date ( Number ( _data_box_datenote.ndate ) )).format ( 'yyyy-MM-dd' )
                    , thisUserAccount        = _data_box_datenote.uaccount;
                %>
                <td style="width: 300px;height: 150px;display: inline-block;background: #e972ff"
                    class="td_content_box"
                    datenote-id="<%=
                      _data_box_datenote.nid %>"
                    date-time="<%= _data_box_datenote.ndate %>"
                    user-account="<%= _data_box_datenote.uaccount %>" group-id="<%= _data_box_datenote.gid %>">
                  <%- _data_box_datenote.ncontent %>
                </td>

                <%
                }
                if((poDataList_data_sign === false) && (index_data === (_data_box_user.children.length - 1))){
                %>
                <td style="width: 300px;height: 150px;display: inline-block;background: #FFF000"
                    class="td_content_box"
                    datenote-id="inexistence"
                    date-time="<%= new Date ( (new Date ( poDataList_data ).format ( 'yyyy-MM-dd 12:59:59' )) ).getTime () %>"
                    user-account="<%= _data_box_datenote.uaccount %>" group-id="<%= _data_box_datenote.gid %>">
                </td>
                <% }
                });
                }else{
                %>
                <td style="width: 300px;height: 150px;display: inline-block;background: #ff1f30"
                    class="td_content_box"
                    datenote-id="inexistence"
                    date-time="<%= new Date ( (new Date ( poDataList_data ).format ( 'yyyy-MM-dd 12:59:59' )) ).getTime () %>"
                    user-account="<%= _data_box_user.uaccount %>" group-id="<%= _data_box_group.id %>">
                </td>
                <%
                }
                }); %>
              </tr>
              <% }); %>
              </tbody>
            </table>
          </th>
        </tr>
        <% }); %>
        </tbody>
      </table>
      <% }); %>
    </div>
  </div>
</div>
<%- include ../modulesTools/footerLoader %>