<div class="menuLeftBox">
    <ul class="contentMoudle nav nav-list">
        <% JSON.parse(loadTagOjNew).ArrJson.forEach(function(dataDepartment){ %>
        <li class="dataDepartment dropdown-toggle">
            <div class="dataDepartmentName"><%= dataDepartment.name %></div>
            <ul class="dataDepartmentChildren active">
                <% dataDepartment.children.forEach(function(dataGroup){ %>
                <li class="dataGroup">
                    <div class="dataGroupName"><%= dataGroup.name %></div>
                    <ul class="dataGroupChildren">
                        <% dataGroup.children.forEach(function(dataUser){ %>
                        <li class="dataUser">
                            <div class="dataUserName"><%= dataUser.name %></div>
                            <ul class="dataUserChildren">
                                <% dataUser.children.forEach(function(dataContent){ %>
                                <li class="dataContent">
                                    <a class="dataContentName" href="<%= dataContent.url %>"><%= dataContent.name %></a>
                                </li>
                                <% }) %>
                            </ul>
                        </li>
                        <% }) %>
                    </ul>
                </li>
                <% }) %>
            </ul>
        </li>
        <% }) %>
    </ul>
</div>
<script>
    $('.contentMoudle').on('click', '.dataDepartmentName, .dataGroupName, .dataUserName', function (e) {
        var _this = $(this),
                _thisBorder = _this.siblings();
        if(!_thisBorder.hasClass('active')){
            _thisBorder.addClass('active').slideDown();
        } else {
            _thisBorder.removeClass('active').slideUp();
        }
    })
</script>